{% set active_page = 'overview' %}
{% extends 'base.html' %}

{% block upper %}
    <section id="settings">
        {% macro render_field(field) %}
            <div class="setting"><dt>{{ field.label }}</dt>
            <dd>{{ field(**kwargs)|safe }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="settings-error">{{ error }}</div>
                {% endfor %}
            {% endif %}
            </dd></div>
        {% endmacro %}
        <form method="post">
            {{ form.csrf_token }}
            {{ render_field(form.icao, onClick='this.setSelectionRange(0, this.value.length)') }}
            {{ render_field(form.time_window, onClick='this.setSelectionRange(0, this.value.length)') }}
            {{ form.submit }}
        </form>
    </section>
{% endblock %}

{% block content %}
    <h1>{% block title %}{{ pagetitle }}{% endblock %}</h1>
    {% for key in the_divs %}
        <div class="a-bokeh-plot{% if key == 'cloudbase' %} doubleheight{% endif %}" style="background:#222222;">{{ the_divs[key]|safe }}</div>
    {% endfor %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.js" crossorigin="anonymous"></script>
    {% for key in the_scripts %}
        {{ the_scripts[key]|safe }}
        {% endfor %}
{% endblock %}