{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ details['name'] }} at {{ details['icao'] }} over the last {{ details['time_window'] }} hours{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div id="settings">
        <form>
            
        </form>
    </div>

    <div style="background:#222222;">{{ the_div|safe }}</div>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.js" crossorigin="anonymous"></script>
    {{ the_script|safe }}
{% endblock %}