{% extends 'base.html' %}

{% block upper %}
{% endblock %}

{% block content %}
    <h1>{% block title %}About{% endblock %}</h1>
    <p>This tool allows you to visualise the meteorological variables reported in METAR reports.</p>
    <p>It runs on <a href="https://www.python.org/" target="_blank">Python</a> using <a href="https://palletsprojects.com/p/flask/" target="_blank">Flask</a>, <a href="https://bokeh.org/" target="_blank">Bokeh</a> and <a href="https://github.com/python-metar" target="_blank">python-metar</a>.</p>
    <p>METAR data is currently scraped from <a href="https://www.ogimet.com/home.phtml.en" target="_blank">Ogimet</a>.</p>
    <hr>
    <p>Created by <a href="mailto:metarchart@adamlack.com?subject=metarchart%20enquiry">Adam Lack</a>.</p>
    {% endblock %}