html, body {font-family:sans-serif; background:#222; color:#aaaaaa; padding:0; margin:0;}
a {color:rgb(122, 163, 136); text-decoration: none;}
a:hover {color:rgb(255, 255, 255);}
hr {border:none; border-top:1px solid black;}
nav {background:rgba(0,0,0,0.5);}
nav ul  {list-style:none; margin:0; padding:0;}
nav ul li {display:inline-block;}
nav ul li:first-child {padding:0 0.6rem;}
nav ul li a {display:inline-block; padding:1rem 0.6rem;}
nav ul li a:hover {background:rgb(255, 255, 255, 0.2);}
nav ul li .active {background:#222; color:rgb(84, 226, 132);}
.content {padding:0 2rem 2rem;}
.content > header h1 {color:#aaaaaa;}
#messages {margin:0; padding:0;}
.flash {margin:0; padding:0.6rem; background:rgb(228, 184, 102); color:rgb(34, 19, 6); font-size:0.8rem; font-weight:bold; border-bottom:1px solid rgb(209, 166, 85);}
.close-flash {display:block; padding:0.2rem; float:right; color:rgb(34, 19, 6);}
.close-flash:hover {background: rgb(34, 19, 6); color: rgb(228, 184, 102);}
.bk-tooltip {background:rgba(0,0,0,0.8) !important; border:none !important; color:#ddd !important;}
