<!doctype html>
<title>metarchart: {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section id="messages">
    {% for message in get_flashed_messages() %}
    <div class="flash"><span style="color:red;">!</span> {{ message }}<a href="#" onclick="this.parentNode.style.display='none';" class="close-flash">Dismiss X</a></div>
    {% endfor %}
</section>
<nav>
    <ul>
        <li>metarchart</li>
        <li><a href="#">by variable</a></li>
        <li><a href="#">about</a></li>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>